@using Entities
@using Business

@inject B_Warehouse bWarehouse
@inject B_Product bProduct
@inject B_Storage bStorage


<EditForm Model="oStorage">
    <div class="form-group">
        <label>Bodega:</label>
        <InputSelect @bind-Value="oStorage.WarehouseId" class="form-control">
            <option value="">Seleccione una bodega:</option>

            @foreach (var warehouse in warehouses)
            {
                <option value="@warehouse.WarehouseId">@warehouse.WarehouseName</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label>Bodega:</label>
        <InputSelect @bind-Value="oStorage.ProductId" class="form-control">
            <option value="">Seleccione un producto:</option>

            @foreach (var product in products)
            {
                <option value="@product.ProductId">@product.ProductName</option>
            }
        </InputSelect>
    </div>
    <input type="button" value="Almacenar Producto" @onclick="SaveStorage" class="btn btn-info" />
</EditForm>



@if (message == "El producto ya existe")
{
    <div class="text-center h4 alert-danger">
        
        @message
    </div>
}
else
{
    <div class="text-center h4 alert-success">
     
        @message
    </div>

}


@code {

    StorageEntity oStorage = new StorageEntity();
    List<WarehouseEntity> warehouses = new List<WarehouseEntity>();
    List<ProductEntity> products = new List<ProductEntity>();

    string message;

    protected override async Task OnInitializedAsync()
    {
        warehouses = bWarehouse.WareHouseList();
        products = bProduct.ProductList();

    }

    private void SaveStorage()
    {
        oStorage.StorageId = $"{oStorage.WarehouseId}-{oStorage.ProductId}";
        if (!bStorage.IsProductInWareHouse(oStorage.StorageId))
        {
            oStorage.LastUpdate = DateTime.Now;
            bStorage.CreateStorage(oStorage);

            message = "Producto registrado";
        }
        else
        {
            message = "El producto ya existe";
        }



    }

}
